body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 20px auto;
}



button{
    font-size: 12px;
    text-align: center;
    color: rgb(250, 246, 246);
    border-radius: 80px;
    cursor: pointer;
}

button:hover{
    background-color: #a4a4ec;
    
}



#search{
    background-color: #555556;
    text-align: center;
}

#search:hover{
    background-color: #2a2a2c;
}
#search-input{
    width:20%;
}

img{
    display: inline-block;
    margin: auto;
    
}

h3 {
    line-height: 10px;
    font-size: 18px;
}
#loading{
    display: none;
}


/* #phone-container div{
    border-radius: 10px;
    border: 0;
    transition: box-shadow 0.8s;
}
#phone-container div:hover{
    box-shadow: 0 0 05px 5px #6f6d6d82;
} */
